.services__btn, .about-us__btn, .hero__btn {
  color: #000000;
  font-family: Oswald;
  font-size: 24px;
  line-height: normal;
  letter-spacing: 1.44px;
  border-radius: 5px;
  background-color: #B2FFA6;
  border: none;
  padding: 15px 80px;
}

body {
  font-family: "Raleway";
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

address {
  font-style: normal;
}

.container {
  margin: 0 auto;
  padding: 0 35px;
  width: 1620px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #121212;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
}

.nav__link {
  color: #fff;
  font-family: Oswald;
  font-size: 24px;
  line-height: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #B2FFA6;
  cursor: pointer;
}

.current {
  color: #B2FFA6;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  margin-top: 150px;
  color: #000000;
  font-size: 64px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}

.hero__title--bold {
  font-weight: 700;
}

.hero__btn {
  margin-top: 50px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__btn:hover, .hero__btn:focus {
  background-color: transparent;
  cursor: pointer;
}

.advantages {
  padding-top: 60px;
  padding-bottom: 60px;
}

.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 88px;
}

.advantages__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  width: 407px;
  height: 209px;
}

.advantages__icon {
  display: block;
  fill: #B2FFA6;
  width: 150px;
  height: 50px;
}

.advantages__title {
  color: #000000;
  font-size: 32px;
}

.advantages__text {
  color: #000000;
  font-size: 24px;
  line-height: normal;
  margin-top: 25px;
}

.about-us {
  background-color: #efefef;
}

.about-us__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us__wrapper {
  max-width: 800px;
}

.about-us__title {
  color: #000000;
  font-size: 40px;
  line-height: normal;
  margin-top: 98px;
  margin-bottom: 30px;
}

.about-us__btn {
  margin-top: 60px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.about-us__btn:hover, .about-us__btn:focus {
  background-color: transparent;
  cursor: pointer;
}

.services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #EFEFEF;
}

.services__title {
  color: #000000;
  font-size: 40px;
  line-height: normal;
  text-align: center;
  margin-bottom: 40px;
}

.services__list {
  margin-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.services__text {
  color: #000000;
  text-align: center;
  font-size: 32px;
  line-height: normal;
}

.services__img {
  border-radius: 10px;
}

.services__subtitle {
  color: #000000;
  font-size: 24px;
  font-weight: 600;
  margin-top: 25px;
}

.services__btn {
  background-color: transparent;
  border: 3px solid #B2FFA6;
  display: block;
  margin: 80px auto 0;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.services__btn:hover, .services__btn:focus {
  background-color: #B2FFA6;
  cursor: pointer;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #121212;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  color: #fff;
  font-size: 40px;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
  -webkit-transition-property: font-weight;
  transition-property: font-weight;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__link:hover, .logo__link:focus {
  font-weight: 700;
  cursor: pointer;
}

.accent {
  font-weight: 700;
  -webkit-transition-property: font-weight;
  transition-property: font-weight;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.logo__link:hover .accent, .logo__link:focus .accent {
  font-weight: 300;
}

.footer__copyright {
  color: #fff;
  font-size: 24px;
}/*# sourceMappingURL=main.css.map */