%btn {
    color: $main-color;
    font-family: Oswald;
    font-size: 24px;
    line-height: normal;
    letter-spacing: 1.44px;
    border-radius: 5px;
    background-color: $accent-color;
    border: none;
    padding: 15px 80px;
}